/* ============================================================
   TODAS AS PAGS    
============================================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffe;
    font-family: "Delius", cursive;
    font-size: large;
    color: #272343;
}

/*menu*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #272343;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

#logo {
    height: 70px;
    width: 70px;
    background-color: #781d1d;
    margin-left: 150px;
}

nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

nav a {
    position: relative;
    color: #fffffe;
    text-decoration: none;
    padding: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: #ffd803;
    transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

/*rodape*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    grid-column: 1 / 5;
    background-color: #272343;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 40px;
}

/* ============================================================
   INDEX
============================================================ */

#index main {
    display: block;
    padding: 20px;
    margin: 10px;
    align-items: start;
}

#index h2 {
    margin: 5%;
    text-align: center;
}

#bloco {
    display: flex;
    justify-content: center;
    gap: 10%;
}

/*cards*/
#card1 {
    background: url(../assets/img/campo.jpg) no-repeat center center/cover;
    padding: 20px;
    margin-bottom: 20%;
}

#card2 {
    background: url(../assets/img/praia.jpg) no-repeat center center/cover;
    padding: 20px;
    margin: 20% 0 10% 0;
}

#index .card {
    position: relative;
    width: 400px;
    height: 280px;
    border-radius: 14px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    text-decoration: none;
    justify-self: center;
}

#index .card .img {
    width: 100%;
    height: 100%;
    background-image: url("sua-imagem.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: filter 0.2s ease-in-out, scale 0.2s ease-in-out;
}

#index .card:hover .img {
    filter: grayscale(0);
    scale: 1.03;
}

#index .card .overlay {
    position: absolute;
    inset: 0;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#index .card:hover .overlay {
    background: rgba(0, 0, 0, 0.50);
}


#index .card .titulo {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 15px;
    left: 20px;
    margin: 0;
    color: #bae8e8;
    font-size: 28px;
    z-index: 3;
    pointer-events: none;
}

#index .card:hover .titulo {
    bottom: 60px;
}

#index .card .descricao {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 15px;
    left: 20px;
    max-width: 75%;
    opacity: 0;
    transform: translateY(10px);
    color: #bae8e8;
    font-size: 16px;
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
    z-index: 3;
    pointer-events: none;
}

#index .card:hover .descricao {
    opacity: 1;
    transform: translateY(0);
}

/*aside*/
#index aside {
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    box-shadow:
        inset 10px 10px 50px #ffd9033b,
        10px 10px 8px #8471033c;
    margin-bottom: 10%;
}

#index aside h3,
#index aside ul {
    margin-left: 20px;
}

/* ============================================================
   DESTINOS
============================================================ */

#destinos {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #fff;
}

#destino {
    font-size: 62.5%;
}

.slideshow {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: background-image 0.8s ease;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    padding: 4rem;
}

.info-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    max-width: 35%;
}

.info-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.info-text {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #fff;
}

.carousel-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -7%);
}

.carousel {
    position: relative;
    width: 70rem;
    height: 70rem;
    border: 1px dashed #eebe97;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    border-radius: 50%;
    outline: 0.2px solid #fff;
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-position: center;
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.5s;
}

.arrow-controls {
    position: absolute;
    right: 12rem;
    top: 90%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.arrow {
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.arrow:hover {
    background: rgba(255, 255, 255, 1);
}