 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: #fffffe;
     font-size: larger;
 }

 #container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 2fr repeat(2, 7.7fr) 1fr;
 }

 header {
     display: flex;
     grid-column: 1 / 5;
     grid-row: 1;
     background-color: #fffffe;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
     gap: 100px;
 }

 #logo {
     background-color: #781d1d;
     height: 70px;
     width: 70px;
     margin: 5.1px 20px 5.1px 150px;
 }

 nav {
     display: flex;
     align-items: center;
     gap: 70px;
     padding: 10px;
 }

 nav a {
     position: relative;
     text-decoration: none;
     color: #2d334a;
     padding: 5px;
 }

 /* a LINHA que vai animar */
 nav a::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -2px;
     /* distância da linha para o texto */
     width: 0%;
     height: 2px;
     background-color: #ffd803;

     transition: width 0.3s ease;
 }

 /* Quando passar o mouse */
 nav a:hover::after {
     width: 100%;
 }

 /* Quando estiver na página atual */
 nav a.active::after {
     width: 100%;
 }


 main {
     display: grid;
     grid-template-columns: repeat(2, 1fr) 1fr;
     grid-template-rows: 0.2fr repeat(2, 1fr);
     gap: 20px;
     grid-column: 1 / 5;
     grid-row: 2 / 4;
     padding: 20px;
     margin: 20px;
 }

 h2 {
     grid-column: 1 / 5;
     grid-row: 1;
     text-align: center;
 }

 #card1 {
     grid-column: 1 / 3;
     grid-row: 2;
     background-color: #f2f2f2;
     padding: 20px;
     border: 1px solid #ccc;
 }

 #card2 {
     grid-column: 1 / 3;
     grid-row: 3;
     background-color: #781d1d;
     padding: 20px;
     border: 1px solid #ccc;
     transform: translateY(17px);
 }

 aside {
     grid-column: 3 / 5;
     grid-row: 2 / 5;
     background-color: #f9f9f9;
     padding: 20px;
     border: 1px solid #ccc;
 }

 footer {
     grid-column: 1 / 5;
     background-color: #272343;
     color: white;
     text-align: center;
     padding: 10px 0;
     position: relative;
     bottom: 0;
     height: 20px;
 }